@font-face {

  font-family: Century-Gothic;

  src: url(GOTHIC.TTF);

}



@font-face {

  font-family: Century-Gothic-Bold;

  src: url(GOTHICB.TTF);

}



@font-face {

  font-family: Garamond;

  src: url(GARA.TTF);

}



body {

  background-image: url('wood-orangish-crop.jpg');

  background-position: middle;

  background-size: 50% auto;

  margin: 0px;

}



.wrapper {

  top: 0px;

  width: 800px;

  height: 1660px;

  background-color: #310d02;

  position: absolute;

  left:0;

  right:0;

  margin-left: auto;

  margin-right: auto;

  z-index: 1;

  border-left: 8px;

  border-right: 8px;

  border-top: 0px;

  border-bottom: 0px;

  border-color: #170704;

  border-style: solid;

}



.header-wrapper {

  height: 50px;

  width: 800px;

  top: 0;

  z-index: 20;

  position: fixed;

  background-color: #310d02;

}



header {

  display: block;

  width: 745px;

  border-radius: 0px 0px 0px 0px;

  background-color: #ffd8a1;

  position: fixed;

  top: 0;

  margin-left: auto;

  margin-right: auto;

  left:0;

  right:0;

  z-index: 1000;



}



h1 {

  margin-top: 0;

  margin-bottom: 0px;

}



.logo-title {

  display: block;

  width: 40%;

  padding: 20px;

  margin-left: auto;

  margin-right: auto;

}



.main-nav-bg {

  display: block;

   width: 100%;

   background-color: #280a01;

   text-align: center;

}



.main-nav {

  list-style-type: none;

  padding-left: 0px;

  display: flex;

  flex-direction: row;

  justify-content: center;

  position: relative;

  margin: 0 auto;

  width: 100%;

}





.learning {

  cursor: pointer;

}



.dropdown {

  display: flex;

  flex-direction: column;

}







.creating-options {

  display: block;

  overflow: hidden;

  margin-left: auto;

  margin-right: auto;

  text-align: center;

  padding-left: 0;

  margin-left: 0;

  height: 0;

  display: flex;

  flex-direction: column;

  margin-bottom: 0px;

  margin-top: 0px;

}



.main-nav li {

  padding-top: 15px;

  padding-bottom: 15px;

  padding-left: 10px;

  padding-right: 10px;

  background-color: #280a01;

  margin-left: auto;

  margin-right: auto;

}





.main-nav li a {

  text-decoration: none;

  color: #cc470e;

  font-family: Century-Gothic;

}



.instruments {

  display: block;

  background-color: #A43809;

  width: 100%;

  overflow: hidden;

  margin-left: auto;

  margin-right: auto;

  text-align: center;

  padding-left: 0;

  margin-left: 0;

  height: 0;

  display: flex;

  flex-direction: column;

  margin-bottom: 0px;

  margin-top: 0px;

  list-style-type: none;

  line-height: 1em;

  color: #ffd8a1;

}



.instruments li {

  background-color: #A43809;

  color: #ffd8a1;

}



.instruments li a {

  color: #ffd8a1;

}



.instruments.open{

  height: auto;

}



.creating {

  cursor: pointer;

}



.creating-options {

  display: block;

  background-color: #A43809;

  width: 120px;

  overflow: hidden;

  margin-left: auto;

  margin-right: auto;

  text-align: center;

  padding-left: 0;

  margin-left: 0;

  height: 0;

  display: flex;

  flex-direction: column;

  margin-bottom: 0px;

  margin-top: 0px;

  list-style-type: none;

  line-height: 1em;

  color: #ffd8a1;

}



.creating-options li {

  background-color: #A43809;

  color: #ffd8a1;

}



.creating-options li a {

  color: #ffd8a1;

}



.creating-options.open{

  height: auto;

}





.body {

  width: 743px;

  position: absolute;

  z-index: 10;

  margin-left: auto;

  margin-right: auto;

  left:0;

  right:0;

  top: 200px;

  max-width: 100%;



}



.my-slideshow {

  max-width: 100%;

  margin-left: auto;

  margin-right: auto;

  left:0;

  right:0;

}



.bjqs {

  list-style-type: none;

  padding-left: 0px;



}



.bjqs li {

  list-style-type: none;

  padding-left: 0px;

}



.intro {

  margin-top: 15px;

  border-radius: 15px;

  width: 100%;

  max-width: 100%;

  margin-left: auto;

  margin-right: auto;

  left:0;

  right:0;

  display: flex;

  flex-direction: row;

  flex-wrap: wrap;

}



span.check-out {

  color: #ffe8bc;

  font-weight: bold;

  padding: 10px;

  padding-top: 18px;

  padding-bottom: 18px;

  text-align: center;

  margin-left: auto;

  margin-right: auto;

  display: block;

}



.check-it-out {

  width: 100%;

  font-family: 'EB Garamond', serif;

  line-height: 1.2em;

  font-size: 20px;

  background-color: #A43809;

  border-radius: 0px 0px 15px 15px;

}



.gregpic-div {

  background-color: #e16731;

  width: 40%;

  padding: 20px;

  box-sizing: border-box;

  border-radius: 15px 0 0 0px;

}



    .gregpiano-pic {

      width: 100%;

      box-shadow: 0px 0px 5px 5px #310d02;

    }



.intro-text {

  border-radius: 0px 15px 0px 0px;

  width: 60%;

  padding: 25px;

  padding-top: 15px;

  color: #310d02;

  font-family: 'EB Garamond', serif;

  line-height: 1.2em;

  font-size: 20px;

  background-color: #ffd8a1;

  box-sizing: border-box;

}



span.learn {

  font-family: Century-Gothic-Bold;

  color: #275408;



}



span.create {

  font-family: Century-Gothic-Bold;

  color: #A43809;



}



span.record {

  font-family: Century-Gothic-Bold;

  color: #310d02;



}



p {

  margin-top: 0;

  margin-bottom: 0;

}



.intro-text:first-line {



}





p::first-letter {

  float: left;

  font-size: 40px;

  color: #ffd8a1;

  padding: 5px 5px;

  background: #411102;

  margin: 0px 8px 0 0;

  border-radius: 5px;

  line-height: 1em;



}



span.title {

  font-weight: bold;

}



h2 {

  font-family: Century-Gothic;

  color: #ffd8a1;

  margin: 0;

  padding: 10px;

}



.why-selah {

  margin-top: 15px;

  background-color: #132804;

  border-radius: 15px;

  min-height: 230px;

}



    .more {

      cursor: pointer;

      margin-left: 8px;

      border-radius: 8px;

      background-color: #A43809;

      padding: 3px;

      line-height: 1em;

      font-family: Century-Gothic;

      display: none;

    }



    .complete {

      display: inline;

    }



    .more-2 {

      cursor: pointer;

      margin-left: 8px;

      border-radius: 8px;

      background-color: #A43809;

      padding: 3px;

      line-height: 1em;

      font-family: Century-Gothic;

      display: none;

    }



    .complete-2 {

      display: inline;

    }



      .kingdavid {

      float: right;

      width: 20%;

      margin: 15px;

      margin-right: 30px;

      box-shadow: 0px 0px 5px 5px #310d02;

    }



p.info {

  color: #ffd8a1;

  font-family: 'EB Garamond', serif;

  line-height: 1.2em;

  font-size: 20px;

  padding: 20px;

  padding-top: 10px;

}



p.info-2 {

  color: #310d02;

  font-family: 'EB Garamond', serif;

  line-height: 1.2em;

  font-size: 20px;

  padding: 20px;

  padding-top: 10px;

}



.about-greg {

  margin-top: 15px;

  background-color: #310d02;

  border-radius: 15px;

  border-style: solid;

  border-width: 1px;

  border-color: #ffd8a1;

}



.diploma {

  display: block;

  margin-left: auto;

  margin-right: auto;

  padding-bottom: 20px;

  max-width: 400px;

}



.where {

  margin-top: 15px;

  background-color: #ffd8a1;

  border-radius: 15px;

  border-style: solid;

  border-width: 1px;

  border-color: #ffd8a1;

}



h2.location {

  color: #310d02;

  text-align: left;

}





.testimonials {

  margin-top: 15px;

  background-color: #A43809;

  border-radius: 15px 15px 0 0;

}





footer {

  width: 100%;

  border-radius: 0px 0px 30px 30px;

  border-top: 10px solid #627a0d;

  background-color: #ffd8a1;

  display: flex;



}



.flex {

  display: flex;

  flex-direction: row;

  justify-content: space-between;

  width: 100%;

  padding-top: 15px;

  padding-bottom: 15px;

}



.column {

  width: 33.33%;

}



.column-1 {

  width: 33.33%;

  padding-left: 30px;

}



span.copyright {

  color: #591804;

  font-family: 'EB Garamond', serif;

  line-height: 1.8em;

  font-size: 16px;

  text-decoration: none;

  font-weight: bold;

}



span.address {

  display: block;

  margin-left: auto;

  margin-right: auto;

  text-align: center;

  left: 0;

  right: 0;

  color: #310d02;

  font-family: 'EB Garamond', serif;

  line-height: 1.2em;

  font-size: 16px;

  padding: 5px;

}



span.bold {

  font-weight: bold;

}



.footer-phone {

  color: #3B4B02;

  font-family: 'EB Garamond', serif;

  line-height: 1.2em;

  font-size: 16px;

  text-decoration: none;

  font-weight: bold;

}



.footer-email {

  color: #A43809;

  font-family: 'EB Garamond', serif;

  line-height: 1.2em;

  font-size: 16px;

  font-weight: bold;

  text-decoration: none;

}



.fb {

  float: right;

  padding-right: 30px;

  width: 65px;

}







.creative {

  width: 100%;

  background-color: #cee07d;

  padding-top: 25px;

  padding-bottom: 10px;

  margin-right: 0;

  margin-right: 0;



}



.recording {

  border-radius: 10px;

  border: 2px solid #ffd8a1;

  margin-top: 15px;

  margin-bottom: 15px;

  background-color: #310d02;

}



.rec-studio {

  width: 40%;

  float: left;

  margin: 15px;

  border: 3px solid #ffd8a1;

}



@media (max-width: 500px) {



    .recording {

      margin-top: 0;

      margin-bottom: 0;

      border-radius: 0;

      border: none;

      padding-top: 25px;

    }



    .rec-studio {

      width: 100%;

      float: none;

      border: none;

      margin: 0px;

    }



}



.add-services:link {

  text-align: center;

  text-decoration: none;

  font-family: Century-Gothic;

  font-size: 16px;

  color: #310d02;

  display: block;

}



.add-services-button {

  width: 50%;

  background-color: #ff9f70;

  border-radius: 15px;

  display: block;

  margin-left: 165px;

  margin-right: 0;

  margin-top: 10px;

  text-align: center;

  padding: 20px;

  left: 0;

  right: 0;

}



/*----------------*/



.livemusic {

  background-color: #fcbd67;

  text-align: left;

  padding-top: 20px;

}



h3 {

  font-family: Century-Gothic;

  font-size: 1.3em;

  color: #264708;

  padding-left: 10px;

}



.imgcaption {

  width: 40%;

  float: right;

  box-sizing: border-box;

  margin-right: 15px;

  padding-left: 10px;

}



.imgcaption-small {

  width: 30%;

  float: right;

  box-sizing: border-box;

  margin-right: 15px;

  padding-left: 10px;

}



.vidcaption {

  width: 50%;

  float: right;

  box-sizing: border-box;

  margin-right: 10px;

  padding-left: 10px;

  padding-bottom: 20px;

}



.pic {

  border: 2px solid #310d02;

}





@media (max-width: 500px) {





  .imgcaption {

    width: 100%;

    float: none;

    box-sizing: border-box;

    margin-right: 0;

    padding-left: 0;

    border: none;

    padding-bottom: 15px;

  }



  .imgcaption-small {

    width: 100%;

    float: none;

    box-sizing: border-box;

    margin-right: 0;

    padding-left: 0;

    border: none;

  }



  .pic {

    border: none;

  }



  .vidcaption {

    width: 100%;

    float: none;

    box-sizing: border-box;

    margin-right: 0px;

    padding-left: 0px;

    padding-bottom: 15px;

  }



}



/* Media Queries----------------------------------*/



@media (min-width: 464px) {



    .more {

    display: none;

  }

}



@media (min-width: 640px) {



    .burger {

      display: none;

    }



}



@media (max-width: 830px) {



  body {

    background: none;

    width: 100%;

  }



  .wrapper {

    background-image: url('wood-orangish-crop.jpg');

    background-position: middle;

    background-size: 100% auto;

    margin: 0px;

    border: none;

    width: 100%;

    height: 1500px;

  }



  header {

    width: 100%;

    border-radius: 0;

    top: 0px;

    clear: left;

  }



  h1 {

    margin-top: 0px;

  }



  .body {

    top: 180px;

  }



}



@media (max-width: 800px) {



  .add-services-button {

    width: 96%;

    margin-left: 5px;

    margin-right: 0px;

    box-sizing: border-box;

  }



}



@media (max-width: 760px) {



  .wrapper {

    height: 850px;

  }



  .intro {

    margin-left: 10px auto;

    margin-top: 0;

    box-sizing: border-box;

    border-radius: 0;

  }



  .gregpic-div {

    width: 100%;

    border-radius: 0;

    text-align: center;

    background-color: rgba(225, 103, 49, 0.7)

  }



  .gregpiano-pic {

    width: 70%;



  }



  .intro-text {

    width: 100%;

    border-radius: 0;

    background-color: rgba(255, 216, 161, 1);

  }



  .check-it-out {

    border-radius: 0;

  }



  .why-selah, .about-greg, .testimonials {

    border-radius: 0px;

  }



  .about-greg {

    border-left: 0px;

    border-right: 0px;

  }



@media (max-width: 639px) {







    header {

      clear: both;

    }



    h1 img {

      margin: 0;

      display: inline-block;

      float: left;

    }



    .burger {

      float: right;

      padding: 25px;

      padding-top: 40px;

      cursor: pointer;

    }



    .main-nav {

      display: block;

      overflow: hidden;

      margin-left: auto;

      margin-right: auto;

      text-align: center;

      padding-left: 0;

      margin-left: 0;

      height: 0;

      display: flex;

      flex-direction: column;

    }



    .main-nav li.bottom-of-nav {

      padding-bottom: 12px;

    }



    .main-nav.open{

      height: auto;

    }



    .main-nav li {

      float: none;

      width: 100%;

      padding-left: 0;

      padding-bottom: 0px;

      display: block;

      margin-bottom: -4px;

    }



    .main-nav li a {

      display: block;

      padding: 0px;

      margin: 5px;

    }



    .main-nav-bg {

      background-color: #ffd8a1;

    }



    .creating-options {

      width: 100%;

    }



    .body {

      top: 100px;

    }



    .why-selah {

      min-height: 250px;

    }



    .more {

      display: inline;

    }



    .more-2 {

      display: inline;

    }



    .complete {

      display: none;

    }



    .complete-2 {

      display: none;

    }



    .kingdavid {

      float: right;

      width: 27%;

      margin: 15px;

      box-shadow: 0px 0px 5px 5px #310d02;

    }



    .diploma {

      width: 100%;

    }



    footer {

      border-radius: 0;

    }



}



@media (max-width: 506px) {



  .body {

    top: 80px;

  }



  .gregpiano-pic {

    width: 100%;

  }



}



@media (max-width: 580px) {



  .flex {

    flex-direction: column;

    justify-content: center;

  }



  .column-1 {

    width: 100%;

    text-align: center;

    padding-left: 0px;

    padding-bottom: 15px;

  }



  .column {

    width: 100%;

  }



  .fb {

    float: none;

    text-align: center;

    margin-left: auto;

    margin-right: auto;

    display: block;

    padding-right: 0px;

    padding-top: 15px;

  }



}



@media (max-width: 491px) {



  .body {

    top: 80px;

  }



}







@media (max-width: 463px) {



  .burger {

    padding-top: 28px;

  }



  .body {

    top: 70px;

  }



  .complete {

      display:none;

  }



}





@media (max-width: 386px) {



  .burger-pic {

    width: 37px;

  }



  .kingdavid {

    float: none;

    width: 100%;

    margin: 0px;

    box-shadow: none;

  }
}
}


@media (min-width: 764px) {

  .body {
    border-left: 2px solid #280a01; 
    border-right: 2px solid #280a01;
  }

}